#Trabalhos{
    width: 100%;
    height: 100vh;
    background: url("../../images/tech-1-min.jpg") #1d1d1d;
    background-size: cover !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 10%;
    transition: all 0.2s ease-in-out !important;
    filter: brightness(0.38);
}

#Trabalhos div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#Trabalhos .work{
    margin-right: 0 -1px;
    width: 34%;
    height: 100%;
    background-color: transparent;
    border: 1px solid #dadada;
    border-collapse: collapse;
    transition: all 0.3s ease;
    border-right: 0px;
}

#Trabalhos div:nth-child(2) .work{
    border-top: none;
}

#Trabalhos .work:hover{
    width: 40%;
}

.badInput{
    border: 1px solid red !important;
}

.b1{
    background: url("../../images/tech-1-min.jpg") #1d1d1d !important;
}

.b2{
    background: url("../../images/tech-2-min.jpg") #1d1d1d !important;
}

.b3{
    background: url("../../images/tech-3-min.jpg") #1d1d1d !important;
}

.b4{
    background: url("../../images/tech-4-min.jpg") #1d1d1d !important;
}

.b5{
    background: url("../../images/tech-5-min.jpg") #1d1d1d !important;
}

.b6{
    background: url("../../images/tech-6-min.jpg") #1d1d1d !important;
}